<!-- stores/templates/stores/stock_history.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock History</title>
    <link rel="stylesheet" href="{% static 'store/css/add_style.css' %}">
</head>
<body>
    <h2>Stock History</h2>
    <ul>
        {% for record in history %}
            <li>{{ record.commodity.name }} - {{ record.action }} - {{ record.quantity }} units on {{ record.date }}</li>
        {% endfor %}
    </ul>
</body>
</html>
