<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LabManager{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'home/css/Links.css' %}"> <!-- Link to your static CSS file -->
    <script>
        function navigateTo(url) {
            window.location.href = url;
        }
    </script>

</head>
<body>
    <header>
        <nav class="navbar">
            <!-- Logo -->
            <div class="logo-container">
                <img src="{% static 'img/logo_1.jpg' %}" alt="LabManager Logo" class="logo">
                <h2 class="logo-text">LabManager</h2>
            </div>
            
            <!-- Navigation Links -->
            <ul class="Navlinks">
                <a href="{% url 'home' %}"><li>Home</li></a>
                <a href="{% url 'about' %}"><li>About Us</li></a>
                <a href="{% url 'services' %}"><li>Services</li></a>
                <a href="{% url 'contact' %}"><li>Contact Us</li></a>
            </ul>

            <!-- Buttons -->
            <div class="button">
                <button class="login" onclick="navigateTo('{% url 'login' %}')">Login</button>
                <button class="Register" onclick="navigateTo('{% url 'register' %}')">Register</button>
            </div>
        </nav>

        <section class="hero-section">
            <h3>Welcome To My <em><i>Wonderful</i></em> LabManager</h3>
        </section>
    </header>
    
    <!-- Main Content Block -->
    <main>
        {% block content %}
        {% endblock %}
    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 LabManager. All rights reserved.</p>
            <div class="social-media">
                <a href="https://www.whatsapp.com"><img src="{% static 'img/whatsapp.png' %}" alt="WhatsApp"></a>
                <a href="https://www.facebook.com"><img src="{% static 'img/facebook.png' %}" alt="Facebook"></a>
                <a href="https://www.github.com"><img src="{% static 'img/github.png' %}" alt="GitHub"></a>
                <a href="https://www.linkedin.com"><img src="{% static 'img/linkedin.png' %}" alt="LinkedIn"></a>
                <a href="https://www.twitter.com"><img src="{% static 'img/x.png' %}" alt="X"></a>
                <a href="https://www.instagram.com"><img src="{% static 'img/instagram.png' %}" alt="Instagram"></a>
            </div>
        </div>
    </footer>
    </main>
	

</body>
</html>
