{% load static %}
<!DOCTYPE .html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LabManager - Home</title>
		<link rel="stylesheet" href="{% static 'home/css/NavBar.css' %}" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
		<!-- Include Chart.js library for charts -->
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</head>
	<body>
		<header>
			<nav class="navbar">
				<!--logo-->
				<div class="logo-container">
					<div style="display: flex; align-items: center; gap: 10px;">
						<img src="{% static 'img/logo_1.jpg' %}" alt="LabManager Logo" class="logo" style="width: 50px; height: 50px; border-radius: 50%;" />
						<h2 class="logo-text" style="font-family: Arial, sans-serif; font-size: 24px; color: #333;">LabManager</h2>
					</div>
				</div>
				<!--Links-->
				<ul class="Navlinks">
					<!--  <a href="% url 'home' %"><li>Home</li></a> -->
					<a href="{% url 'about' %}"><li>About Us</li></a>
					<!--  <a href="% url 'services' %"><li>Services</li></a> -->
					<a href="{% url 'contact' %}"><li>Contact Us</li></a>
				</ul>
				<!--Buttons-->
				<div class="button">
					<button class="login" onclick="navigateTo('{% url 'login' %}')">Login</button>
					<button class="register" onclick="navigateTo('{% url 'register' %}')">Register</button>
				</div>
				<!-- Notification Bell Button -->
				<div class="notification-bell-container">
					<button class="notification-bell" id="notification-bell">
						<img src="{% static 'img/not.png' %}" alt="Notifications" style="width: 10px; height: 10px; border-radius: 50%;" />
						<span id="notification-count" class="notification-count"></span>
					</button>
					<!-- Dropdown Menu for Notifications -->
					<div id="notification-dropdown" class="notification-dropdown">
						<ul id="notification-list">
							<!-- Notifications will be dynamically inserted here -->
						</ul>
					</div>
				</div>
			</nav>
			<section class="apps_links">
				<!-- Hamburger Button -->
				<div class="menu__toggle">
					<input type="checkbox" id="menuToggle" />
					<label for="menuToggle" class="hamburger">&#9776;</label>
					<nav>
						<ul>
							<div class="pointer">
								<ul class="menu__links">
									<!--  <li><a href="% url accounts %}">My Accounts</a></li> -->
									<a href="{% url 'home' %}"><li>Home</li></a>
									<a href="{% url 'dashboard' %}"><li>Dashboard</li></a>
									<a href="{% url 'services' %}"><li>Services</li></a>
									<a href="{% url 'labmanagement' %}"><li>Lab Management</li></a>
									<a href="{% url 'view_stores' %}"><li>Stores</li></a>
									<a href="{% url 'labtest-list' %}"><li>Lab Tests</li></a>
									<a href="{% url 'large_form' %}"><li>Request Test</li></a>
									<a href="{% url 'test_list' %}"><li>Laboratory</li></a>
									<a href="{% url 'reports' %}"><li>Reports</li></a>
									<a href="{% url 'settings' %}"><li>Settings</li></a>
									<a href="{% url 'login' %}"><li>Login</li></a>
									<a href="{% url 'register' %}"><li>Register</li></a>
									<!-- Add your hamburger icon here -->
								</ul>
							</div>
							<section>
								<main class="main-body">
									<!--  <section class="apps_links"> -->
									<section
										class="hero-section"
										style="background-image: url('{% static 'img/background.jpg' %}'); background-size: cover; height: 100vh; display: flex; justify-content: center; align-items: center; color: white;"
									>
										<div>
											<h1>Welcome to LabManager</h1>
											<p>Your complete solution for laboratory operations.</p>
											<a href="{% url 'services' %}" class="btn" style="padding: 10px 20px; background-color: #28a745; color: white; text-decoration: none;">Explore Our Services</a>
										</div>
									</section>
									<section class="intro">
										<p>
											LabManager is your comprehensive solution for managing laboratory operations efficiently and effectively. Whether you're a research institution, educational facility, or industrial lab, we provide
											tailored services and software solutions to meet your needs.
										</p>
										<p class="importance">
											LabManager is a cutting-edge platform designed to revolutionize laboratory management. It centralizes operations, optimizes resource utilization, enhances collaboration, and ensures compliance
											with industry standards. With robust data management and analytical capabilities, LabManager empowers researchers to make informed decisions and achieve breakthroughs in their fields.
										</p>
										<a href="{% url 'services' %}"><li>Explore Our Services</li></a>
									</section>

									<!-- new addition -->
									<section
										class="hero-section1"
										style="background-image: url('{% static 'img/back1.jpg' %}'); background-size: cover; height: 100vh; display: flex; justify-content: center; align-items: center; color: white;"
									>
										<div class="hero-content">
											<h1>Lab Management</h1>
											<p>Revolutionizing laboratory management through innovation and efficiency.</p>
											<a href="{% url 'labmanagement' %}" class="btn">Go To Lab Management</a>
										</div>

										<div class="feature-section">
											<h2>Manage Equipment</h2>
											<p>Track and manage lab equipment effectively.</p>
											<a href="{% url 'equipment' %}" class="btn">Lab Equipment</a>

											<h2>Experiment Tracking</h2>
											<p>Monitor experiment progress and outcomes seamlessly.</p>
											<a href="{% url 'experiments' %}" class="btn">Lab Experiments</a>

											<h2>Call-to-Action</h2>
											<p>Encouraging users to explore more features or contact for a demo:</p>
											<a href="{% url 'contact' %}" class="btn">More Information</a>
										</div>
									</section>
									<!-- More actions -->
									<div class="card">
										<img src="{% static 'img/logo_2.jpg' %}" alt="Services" />
										<a href="{% url 'services' %}" class="btn">Services</a>
										<p>Explore the wide range of services we offer for laboratory management.</p>
									</div>
									<div class="card">
										<img src="{% static 'img/logo_3.jpg' %}" alt="About Us" />
										<a href="{% url 'about' %}" class="btn">About Us</a>
										<p>Learn more about our mission, vision, and team.</p>
									</div>
									<div class="card">
										<img src="{% static 'img/logo_4.jpg' %}" alt="Contact Us" />
										<a href="{% url 'contact' %}" class="btn">Contact Us</a>
										<p>Get in touch with us for any queries or support.</p>
									</div>
									<div class="card">
										<img src="{% static 'img/logo_5.jpg' %}" alt="More Information" />
										<p>Find out more about how LabManager can help your lab excel.</p>
										<a href="{% url 'services' %}" class="btn">Lear More Here</a>
									</div>
									<div class="card">
										<h2>Generate Reports</h2>
										<p>Generate detailed reports for lab activities and performance.</p>
										<a href="{% url 'reports' %}" class="btn">Get Lab Reports</a>
									</div>
									<div class="card">
										<h2>Call-to-Action</h2>
										<p>Encouraging users to explore more features or contact for a demo:</p>
										<a href="{% url 'services' %}" class="btn">Explore More</a><br />
									</div>

									<!-- CTA Section -->
									<div class="section">
										<h2>Ready to Get Started?</h2>
										<p>Join LabManager today and streamline your lab operations</p>
										<a href="{% url 'register' %}" class="btn">Sign Up Now</a>
									</div>
								</main>
							</section>

							<footer class="footer-content">
								<p>Follow us:</p>
								<div class="social-media">
									<a href="https://www.facebook.com/share/2Q3dbKAPS57vTByr/" target="_blank">
										<img src="{% static 'img/fb.jpg' %}" alt="Facebook" style="width: 24px; height: 24px; border-radius: 50%;" />
									</a>
									<a href="https://www.github.com/jordanmefujie" target="_blank">
										<img src="{% static 'img/gh.jpeg' %}" alt="GitHub" style="width: 24px; height: 24px; border-radius: 50%;" />
									</a>
									<a href="https://www.linkedin.com/in/jordan-mefujie-539999a226a?utm" target="_blank">
										<img src="{% static 'img/in.png' %}" alt="Instagram" style="width: 24px; height: 24px; border-radius: 50%;" />
									</a>
									<a href="https://wa.me/+233549834582" target="_blank">
										<img src="{% static 'img/wsp.jpeg' %}" alt="WhatsApp" style="width: 24px; height: 24px; border-radius: 50%;" />
									</a>
								</div>
								<div>
									<p>&copy; 2024 LabManager. All rights reserved.</p>
								</div>
								<script src="{% static 'home/js/auth.js' %}"></script>
								<script src="{% static 'home/js/script.js' %}"></script>
								<script src="{% static 'home/js/scripts.js' %}"></script>
							</footer>
						</ul>
					</nav>
				</div>
			</section>
		</header>
	</body>
</html>
