{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
	    <span id="toggle-password-visibility" class="fa fa-eye"></span>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</div>
{% endblock %}

<!-- Link to the external JavaScript file -->
<script src="{% static 'accounts/js/script.js' %}"></script>
