<!DOCTYPE html>
<html lang="en">

<head>
	{ load static }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="{% static 'NavBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

<body>
    <div class="container">
        <h2>Lab Report</h2>
        <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Request</button>
</form>
    </div>

    <script src="{% static 'js/profile.js' %}"></script>
</body>

</html>
